canvas{
  display: block;
  margin: 0 auto;
  /* border: 100px solid; */
  padding: 150px;

}



.gridContainer {
  /* margin: 350px; */
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(7, 14.2857%);
  grid-template-rows: repeat(4, 20%);
  /* flex-flow: row wrap;
  align-content: center;
  /* justify-content: space-between; */
  /* justify-content: center; */
}


/* .pics {
  text-align: center;
  width:230px;
  height:230px;
  line-height: 1500%;
  padding:5px;
  border:0.1px dashed pink;
  margin:20px;
} */

#Bpics {
  text-align: center;
  vertical-align: middle;
  width:230px;
  height:230px;
  line-height: 1500%;
  /* border-style: hidden; */
  padding: 0;
  border: none;
  background: none;
}

#Bpics img:hover {
  /* filter:saturate(10%); */
  filter:sepia(75%);
  /* filter:blur(4px); */
  /* transition-delay:.5s; */
}

#num {
  /* 字体统一 */
  /* text-align: center;
  /* vertical-align: middle; */
  vertical-align: middle;
  font-size: 75px;
  color:rgb(233,233,233);
  /* font-family: 'Girassol', cursive; */
  font-family: 'Poiret One', cursive;
}

#num:hover{
  color: rgb(242,54,73);
}


/* display main text */
#MainText{
  position: absolute;
  left: 700px;
  top: 400px;
  width:270px;
  vertical-align: middle;

  /* height:300px; */
  /* color: rgb(237,99,89); */
  /* color: rgb(196,141,133); */
  color: rgb(242,54,73);
  font-family: 'Poiret One', cursive;
}

#MainText1{
  position: absolute;
  left: 700px;
  top: 400px;
  width:270px;
  vertical-align: middle;

  /* height:300px; */
  /* color: rgb(237,99,89); */
  /* color: rgb(196,141,133); */
  color: rgb(242,54,73);
  font-family: 'Noto Serif JP', serif;
}
