body {
  font-family:monospace;
  background: rgb(255,140,20);
  text-align: center;

}

.wrapper {
  background-color: rgb(106,153,204);

  color: rgb(254,206,35);
  position: absolute;
  top: 50%;
  left: 28%;
  right: 20%;

  margin-top: -150px;
  margin-left: -150px;

}

.box1 {
  float: left;
  width: 150;
  height: 150;
  background-color: rgb(207,232,220);
}

.box2 {
  float: right;
  width: 150;
  height: 150;
  background-color: rgb(207,232,220);
}
